html, body{
    height: 100%;
    margin: 0;
  }
  .container{
    /*background-color: rgba(0, 0, 0, 0.1);*/
    position: absolute;
    bottom: 2.5vw;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 50%;
    font-size: 2vw;
    text-align: center;
    font-family: "Jost", sans-serif;

    transition: opacity 500ms;
  }
  .container.hidden{
      opacity: 0;
  }
  .container.question-only .question{
    transform: translateY(7.3vw);
  }
  .container.question-only .answers{
      opacity: 0;
  }
  
  .question{
    font-weight: bold;
    padding: 1.2vw;
    margin-bottom: 0.7vw;
    
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    transition: transform 500ms;

    z-index: 10;
  }
  .question, .answer{
    background-color: black;
    color: white;
    border: 0.25vw solid #21aaff;
    border-radius: 2000px;
  }
  .answers{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    transition: opacity 500ms;

    z-index: 5;
  }

  .break{
      flex-basis: 100%;
      height: 0;
  }
  
  .answer{
    margin: 0.26vw 0.5vw;
    padding: 0.5vw 1.56vw;
    /*width: 270px;*/
    flex-grow: 1;
    flex-basis: 0;
    text-align: left;
    
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    
    font-size: 1.3vw;
  }
  
  .answer:nth-child(1)::before{
    content: 'A:';
  }
  .answer:nth-child(2)::before{
    content: 'B:';
  }.answer:nth-child(4)::before{
    content: 'C:';
  }.answer:nth-child(5)::before{
    content: 'D:';
  }
  .answer::before{
    color: #21aaff;
    margin-right: 0.5vw;
  }
  
  /* Styling for answers */
  
  .answer.selected:not(.hidden){
    background-color: yellow;
    color: black;
    border-color: black;
    animation-name: selectedPulse;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }
  .answer.selected:not(.hidden)::before{
    content: "\f128" !important;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: black;
  }
  .answer.correct:not(.hidden){
    background-color: #03fc77;
    color: black;
    border-color: black;
  }
  .answer.correct:not(.hidden)::before{
    content: "\f00c" !important;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: black;
  }
  .answer.incorrect:not(.hidden){
    background-color: red;
    border-color: black;
  }
  .answer.incorrect:not(.hidden)::before{
    content: "\f00d" !important;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: white;
  }
  .answer.hidden, .answer.hidden::before{
    color: transparent;
  }
  
  /* Animation stuff */
  @keyframes selectedPulse{
    0%{
      /* background-color: yellow; */
      transform: scale(1);
    }
    50%{
      /* background-color: rgb(220, 220, 0); */
      transform: scale(1.05);
    }
    100%{
      /* background-color: yellow; */
      transform: scale(1);
    }
  }